@use 'reset';
html{
    height: 100%;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(170,16,16,1) 35%, rgba(0,212,255,1) 100%);    color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    width: min(100ch, 100vw - 2rem);
    margin-inline: auto;
    display: flex;
}

.navbar {
    background-color: #FF7C00;
    &__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        min-height: 4rem;
        a {
            color: rgb(7, 0, 0);
            text-decoration: none;
        }
        
    }
    &__button {
        background-color: transparent;

        @media (min-width: 600px) {
            display: none;
            
        }
    }

    &__collapse {
        @media (max-width: 599px) {
            display: none;
        }
        > ul {
            display: flex;
            gap: 1rem;
            list-style: none;
            
        }
        &--show {
            display: block;
            width: 100%;
            > ul {
                flex-direction: column;
                padding: 0;
                
            }
            
        }
    }
}
main {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hero {
    display: grid;
    grid-template-areas: 'stack';
    justify-items: stretch;

    > * {
        grid-area: stack;
    }

    h1 {
        color: #efefef;
        place-self: center;
    }
}

.filter {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.flow > * + * {
    margin-top: var(--flow-space, 1rem);
}

.show {
    display: flex;
}

.hide {
    display: none;
}

.inlagg{
    display: flex;
    flex-direction: column;
}

.inlagg-container {
    background-color: #FF7C00;
    padding: 1.5rem;
    border-radius: 10px;

}

.data-containter{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}


.menu-img {
    width: 8rem;
    height: auto;
}

.data-text{
    padding: 1rem;
    background-color: #00ff7c;
//    border-top: 2px solid black;
//    border-bottom: 2px solid black;
    border: 2px solid black;
    border-radius: 9px;
    word-wrap: break-word;
    color: #7c00ff;
}

.data-samling{
    padding: 0.5rem;
    color: black;

}

.data-border{
    border: 2px solid black;
    padding: 1rem;
    background-color: #FF7C00;
    border-radius: 9px;
}

.data-container-title{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.data-color{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-radius: 10px;
    color: #efefef;
}

.data-padding{
    padding-top: 2rem;
    width: 100%;
}

footer{
    display: flex;
    background-color: #FF7C00;
    width: 100%;
    height: 3rem;
    a {
        color: rgb(7, 0, 0);
        text-decoration: none;
    }
}


.space{
    padding-top: 3rem;
}

.Forfattare{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 12rem;
}

.profile{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.profile-hero{
    display: flex;
    justify-content: space-evenly;
}

.pro-1{
    width: 33%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    a {
        color: rgb(7, 0, 0);
    }
}

.pro-2{
    width: 33%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pro-3{
    width: 33%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.pro-beskriv{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.title{
    height: 2rem;
    display: flex;
    align-items: flex-end;
}

.ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;

}

.startsida{
    display: flex;
    width: 100%;
    justify-content: center;
}

.sta-info{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.sta-1{
    width: 45%;
    height: 5rem;
}
.sta-2{
    width: 10%;
}

.text-center{
    text-align: center;
}

.text-underline{
    text-decoration: underline;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
  
  /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.profil-container{
    background-color: #FF7C00;
    border-radius: 10px;
}