{% extends "layout.njk" %}
{% block  content %}
    <div class="data-color">
        <div class="profile">
            <div class="profile-hero">
                <div class="pro-1">
                    {% for user in users %}
                        <h1>{{ user.name | safe }}</h1>
                    {% endfor %}
                        <p>Ålder: </p>
                        <p>Land: </p>
                    <h3 class="text-center">3 senaste tillagda spel </h3>
                    <ul>
                        <li>
                            <p>{{ row.spel | safe}}</p>
                        </li>
                    </ul>
                </div>
                <div class="pro-2">
                    <h3 class="text-center">3 senaste önskade spel </h3>
                    <ul>
                        <li>
                            <p>{{ row.villspel | safe}}</p>
                        </li>
                    </ul>
                    <h3  class="text-center">3 spotify länkar </h3>
                    <ul>
                        <li>
                            <p>{{ row.spotify | safe}}</p>
                        </li>
                    </ul>
                </div>
                <div class="pro-3">
                    profil bild
                </div>
            </div>
            <div class="pro-beskriv">
                Personlig beskrivnings text, (delete Account)?
            </div>
            <form action="/logout" method="POST">
                <button type="submit" id="logout">Logout</button>
            </form>
            <form action="/delete" method="POST">
                <button type="submit">Delete Account</button>
            </form>


            <button id="myBtn">Edit profile</button>
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p>Some text in the Modal..</p>
                    <form action="/logout" method="POST">
                        <button type="submit" id="logout">Logout</button>
                    </form>
                    <form action="/delete" method="POST">
                        <button type="submit">Delete Account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}