<ul class="ul">
    <li>
        <a href="/">Till startsida</a>
    </li>
    {% if user %}
        <li>
            <a href="/new">Skappa inlägg</a>
        </li>
    {% else %}
    {% endif %}
</ul>