{% extends "layout.njk" %}
{% block content %}
<div class="inlagg-container">    
    <h1>{{ title }}</h1>
    <div>
        <div class="inlagg">
            <a href="/login">LOGIN HERE</a> <br>
            <a href="/register">REGISTER HERE</a>
        </div>
    </div>
</div>
{% endblock %}