{% extends "layout.njk" %}
{% block content %}
<div class="inlagg-container">    
    <h1>Välkommen</h1>
    <div>
        <div class="sta-info">
            <div class="sta-1">
                <h3 class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis id
                esse architecto dolor possimus nemo dicta. Ipsam sequi dolorum, odit omnis fugiat, 
                laboriosam expedita vitae dicta cum voluptatum voluptate illum?</h3>
            </div>
            <div class="sta-2">

            </div>
            <div class="sta-1">
                <h3 class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores repudiandae 
                numquam suscipit nesciunt, optio dolorum, expedita accusamus ut et, commodi qui 
                ratione fugiat provident inventore quos sit eligendi reprehenderit veritatis.</h3>
            </div>
        </div>
            <div class="inlagg">
            {% if user %}
            {% else %}
            <a href="/login">
                <button class="startsida">Logga in</button>
            </a> 
            <a href="/register" class="startsida">
                <button class="startsida">Registrera</button>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}