{% extends "layout.njk" %}
{% block content %}
<div class="inlagg-container">    
    <h1>Välkommen</h1>
    <div>
        <div class="inlagg">
            {% if user %}
            {% else %}
            <a href="/login">
                <button class="startsida">Logga in</button>
            </a> 
            <a href="/register" class="startsida">
                <button class="startsida">Registrera</button>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}