{% extends "layout.njk" %}
{% block content %}
<div class="data-color">
    <h1 style="padding: 1rem;">Flödde</h1>
    {% for row in rows %}
    <div class="data-samling">
        <div class="data-border">
            <div>
                <div class="data-containter">
                    <div class="data-container-title">
                        <div>
                            <a href="/post/{{ row.id }}">
                                <h2>{{ row.title | safe}}</h2>
                            </a>
                        </div>
                        <div class="Forfattare">
                            <h3>Författare:</h3>
                            <h4> {{ row.username | safe}}</h4>
                        </div>
                    </div>
                </div>
                <div class="data-text">
                    <p>{{ row.content | safe}} </p>
                </div>
            </div>
            <div class="data-containter">
                <p>{{ row.createdAt }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}