<nav class="navbar">
    <div class="navbar__inner container">
        <a href="/" class="logo"> <img src="/image/Ludo Extreme.png" alt="Ludo" class="menu-img"> </a>
        <button class="navbar__button" aria-label="Open menu">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="M3 18v-2h18v2Zm0-5v-2h18v2Zm0-5V6h18v2Z"/></svg>
        </button>
        <div class="navbar__collapse">
            <ul>
                <li>
                    <a href="/">Hem</a>
                </li>
                <li>
                    <a href="/profile">Profile</a>
                </li>
                <li>
                    <a href="/new">Skappa inlägg</a>
                </li>
                <li>
                    <a href="/postlista">Lista</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/register">Skappa användare</a>
                </li>
            </ul>
        </div>
    </div>
</nav>