{% extends "layout.njk" %}
{% block content %}

<div class="data-color">
  <div class="data-samling">
    <div class="data-border">
      <div class="inlagg">
        <div class="data-containter">
          <div class="data-container-title">
            <h1>{{ post.title }}</h1>
          </div>
          <div class="Författare">
            <p>Skapad av <a href="/users/{{ post.authorId }}">{{ post.username }}</a> den {{ post.createdAt }}</p>
          </div>
        </div>
        <div class="data-text">
          <p>{{ post.content }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}