{% extends "layout.njk" %}
{% block content %}

{% for row in rows %}
<div class="profil-container">
    <div class="profile">
        <div class="profile-hero">
            <div class="pro-1">
                <div class="title">
                    {% for user in users %}
                    <h2>{{ user.name | safe }}</h2>
                    {% endfor %}
                </div>
                <p>Ålder: {{ row.alder | safe}}</p>
                <p>Land: {{ row.plats | safe}}</p>
                <h3 class="text-center">Spotify länk:</h3>
                {% for user in users %}
                <a href="{{ row.spotify | safe}}"><h4>{{ user.name | safe }}</h4></a>
                {% endfor %}
            </div>
            <div class="pro-2">
                <div class="title">
                    <h3 class="text-center">3 senaste tillagda spel </h3>
                </div>
                <ul>{% set g3 = games.slice(0, 3) %}
                    {% for games in g3 %}
                    <p>{{ games.title | safe}}</p>
                    {% endfor %}
                </ul>
            </div>
            <div class="pro-3">
                profil bild
            </div>
        </div>
        <div class="pro-beskriv">
            Personlig beskrivnings text, (delete Account)?
        </div>
    </div>
</div>
{% endfor %}
<div class="space"></div>
<div class="inlagg-container">
    <h1>Games</h1>
    <ul>
    {% for games in games %}
        <p>{{ games.title | safe}}</p>
    {% endfor %}
    </ul>
</div>
{% endblock %}